/* ! Importación de fuentes localmente*/

@font-face {
   font-family: 'Outfit';
   src: local('Outfit'),
   url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
   font-weight: 400 700;
}

@font-face {
   font-family: 'Young Serif';
   src: local('Young Serif'),
   url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
   font-weight: 400;
}

/*! Variables */
:root {

   /* COLORES */
   --clr-white: #ffffff;
   --clr-stone-v1: #f3e6d8;
   --clr-stone-v2: #e4ded8;
   --clr-stone-v3:  #5f574e;
   --clr-stone-v4: #302d2c;
   --clr-brown: #854632;
   --clr-rose-v1: #7b284f;
   --clr-rose-v2: #fff5fa;

   /* Fuentes */
   --font-alternative: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   --font-sz-1: 1.6em;
   --font-wht: 400;
}

/*? Estilos de la web */
* {
   margin: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--clr-stone-v1, --clr-stone-v2);
   align-content: center;
   padding: 4em 0;
   flex-basis: content;
}

footer {
   padding: var(--font-sz-1);
   text-align: center;
   font-family: 'Outfit', var(--font-alternative);
}

/* Contenedores y divisores */
.divider {
   border: none;
   height: 2px;
   background-color: var(--clr-stone-v2); /* o el color que desees */
   margin: var(--font-sz-1); 
}

.divider-2 {
   border: none;
   height: 2px;
   background-color: var(--clr-stone-v2); /* o el color que desees */
   margin: 14px var(--font-sz-1);
}

.main-container {
   background-color: var(--clr-white);
   max-width: 45em;
   border-radius: 20px;
   margin: 0 auto;
}

.ingredient-section, .instructions-section, .nutrition-section {
   margin: 0 var(--font-sz-1);
}

.image-container {
   max-width: 100%;
   align-content: center;
   padding-top: var(--font-sz-1);
}

/* Estilos de la imagen */
.image-omellete {
   object-fit: cover;
   max-width: 93%;
   border-radius: 10px;
   margin: 0 auto;
   display: block;
}

/* Texto */
.main-paragraph {
   margin: var(--font-sz-1);
}

/* Section de fondo rosa */
.rose-background {
   padding: var(--font-sz-1);
   margin: 0 var(--font-sz-1);
   background-color: var(--clr-rose-v2);
   border-radius: 20px;
}

.subtitle-rose {
   color: var(--clr-rose-v1);
   margin: 0 0 24px;
   font-size: 20px;
   font-weight: 800;
   font-family: 'Outfit', var(--font-alternative);
}

span {
   font-weight: 600;
}

p, li, tr {
   font-size: 16px;
   font-family: 'Outfit', var(--font-alternative);
   line-height: 2em;
   color: var(--clr-stone-v3);
}

h1, h2 {
   font-family: 'Young Serif', var(--font-alternative);
   margin: 25.6px 0;
   color: var(--clr-brown);
   font-weight: var(--font-wht);
}

.subtitle-rose{
   margin-bottom: 15px;
}

h1 {
   padding: 0 25.6px 0;
   color: var(--clr-stone-v4);
   font-size:2.3em;
   font-weight: var(--font-wht);
}

.row-container {
   position: relative;
   max-width: 100%;
   column-count: 2;
   column-width: 50%;
   padding-left: 1em;

   .value {
      color: var(--clr-brown);
      font-weight: 700;
   }
}

.nutrition-section > p {
   margin-bottom: 14px;
}

@media (width <= 736px) {

   body {
      padding: 0;
   }

   .main-container {
      border-radius: 0;
   }

   .image-container {
      max-width: 100%;
      align-content: center;
      padding: 0;
   }
   
   /* Estilos de la imagen */
   .image-omellete {
      object-fit: cover;
      max-width: 100%;
      border-radius: 0;
      display: block;
   }
}